.config
*.o
.include_mach
.mach
err
include/gendefine_gid.h
include/mach
tools/csum/csum
tools/imgld/imgld
tools/sched/sched
tools/srec2bin/srec2bin
tools/wpcdebug/wpcdebug
build/*
mach
.vagrant
.vscode
